<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">
<!--
`<dm-get-photos>` description.

Example:

```html
<dm-get-photos></dm-get-photos>
```

@demo demo/index.html
-->
<dom-module id="dm-get-photos">
  <template>

    <cells-generic-dp id="getPhotos"
    host="[[host]]"
    params='[[params]]'
    method="GET"
    on-request-success="_successFn">
    ></cells-generic-dp>

  </template>
  <script src="dm-get-photos.js"></script>
</dom-module>
